@charset "UTF-8";
@media screen and (min-width: 400px) {
  /********************** Le logo : 400px *********************/
  .logo a .button .fa-arrow-left {
    font-size: 15px;
    left: 20px;
    top: 15px;
  }
  /***************** Tarif : 400px *****************/
  a:hover .second_price {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  /******************** Le footer : 400px *********************/
  footer h1 {
    padding: 20px 23px 15px 23px;
    font-size: 17px;
  }
  footer .list-footer {
    line-height: 25px;
    padding: 0 20px 30px 20px;
    font-size: 14px;
    letter-spacing: normal;
  }
  footer .list-footer .list-bold .fa-utensils {
    font-size: 10px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    font-size: 9px;
  }
}

@media screen and (min-width: 500px) {
  /********************** Le logo : 500px *********************/
  .logo a .button .fa-arrow-left {
    font-size: 18px;
    left: 20px;
    top: 15px;
  }
  /******************** Le footer : 500px *********************/
  footer h1 {
    font-size: 19px;
  }
  footer .list-footer {
    padding: 0 25px 35px 25px;
    font-size: 16px;
  }
  footer .list-footer .list-bold .fa-utensils {
    font-size: 12px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    font-size: 11px;
  }
}

@media screen and (min-width: 600px) {
  /********************* La carte : 600px *********************/
  .resto {
    bottom: 45px;
    border-radius: 35px 35px 0 0;
  }
  .resto .menus h2 {
    font-size: 25px;
    padding-top: 30px;
  }
  .resto h3 {
    font-size: 15px;
    width: 40px;
  }
  h4 {
    font-size: 17px;
    padding: 10px 10px 3px 10px;
  }
  .card .plate-entrees a,
  .card .plate-meals a,
  .card .plate-desserts a {
    border-radius: 15px;
  }
  .card .plate-entrees a p,
  .card .plate-meals a p,
  .card .plate-desserts a p {
    font-size: 15px;
    padding: 0 11px 10px 11px;
  }
  /***************** Tarif : 600px *****************/
  a:hover .second_price {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  a .second_price span {
    font-size: 15px;
  }
  a .following {
    height: 70px;
    width: 60px;
  }
  a .right {
    right: -60px;
  }
  /****************** coches : 600px *********************/
  a .right div {
    border-radius: 0 15px 15px 0;
  }
  .fa-check-circle {
    font-size: 25px;
  }
  /**************** Le bouton commander : 600px ******************/
  .order-fr {
    padding-top: 40px;
  }
  .order-fr button {
    padding: 16px 40px 16px 40px;
  }
  .order-fr button span {
    font-size: 15px;
  }
  /*************** icônes de coeur : 600px ******************/
  .menu-heart {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
  }
  .menu-heart .far.fa-heart {
    font-size: 24px;
  }
  .menu-heart .fas.fa-heart {
    font-size: 20px;
    top: 2px;
  }
}

@media screen and (min-width: 650px) {
  /********************** Le logo : 650px *********************/
  .logo {
    padding: 13px 0 18px 0;
  }
  .logo a .button .fa-arrow-left {
    font-size: 23px;
    left: 30px;
    top: 18px;
  }
  /********************** Le footer : 650px ********************/
  footer {
    margin-top: 60px;
  }
  footer h1 {
    padding: 30px 30px 20px 30px;
    font-size: 24px;
  }
  footer .list-footer {
    padding: 0 30px 50px 30px;
    font-size: 20px;
    line-height: 35px;
  }
  footer .list-footer .list-bold .fa-utensils {
    padding-right: 15px;
    font-size: 16px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    padding-right: 15px;
    font-size: 15px;
  }
}

@media screen and (min-width: 750px) {
  /********************** Le logo : 750px *********************/
  .logo .logo-menus {
    width: 270px;
  }
  .logo a .button .fa-arrow-left {
    font-size: 30px;
    left: 35px;
    top: 25px;
  }
  /***************** Le footer : 750px ********************/
  footer {
    margin-top: 70px;
  }
  footer h1 {
    padding: 40px 40px 30px 40px;
    font-size: 29px;
  }
  footer .list-footer {
    padding: 0 40px 70px 40px;
    font-size: 25px;
    line-height: 40px;
  }
  footer .list-footer .list-bold .fa-utensils {
    padding-right: 20px;
    font-size: 21px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    padding-right: 20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  /**************** images des menus : 800px ******************/
  .img-resto-menu {
    width: 100%;
    max-height: 550px;
    min-height: 450px;
  }
  /********************* La carte : 800px *********************/
  .resto {
    bottom: 80px;
    border-radius: 40px 40px 0 0;
  }
  .resto .menus h2 {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .resto h3 {
    font-size: 20px;
    margin: 25px 30px 11px 30px;
    width: 53px;
  }
  h4 {
    font-size: 22px;
    padding: 15px 12px 6px 12px;
  }
  .card .plate-entrees a,
  .card .plate-meals a,
  .card .plate-desserts a {
    border-radius: 20px;
  }
  .card .plate-entrees a p,
  .card .plate-meals a p,
  .card .plate-desserts a p {
    font-size: 20px;
    padding: 0 12px 10px 12px;
  }
  a .right {
    right: -80px;
  }
  /***************** Tarif : 800px *****************/
  a:hover .second_price {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  a .second_price span {
    font-size: 20px;
  }
  a .following {
    height: 90px;
  }
  /****************** coches : 800px *********************/
  .fa-check-circle {
    font-size: 34px;
  }
  a .right div {
    border-radius: 0 20px 20px 0;
    width: 70px;
  }
  /**************** Le bouton commander : 800px ******************/
  .order-fr {
    padding-top: 50px;
  }
  .order-fr button {
    padding: 19px 43px 19px 43px;
  }
  .order-fr button span {
    font-size: 20px;
  }
  /*************** icônes de coeur : 800px ******************/
  .menu-heart {
    padding-right: 35px;
    padding-left: 35px;
  }
  .menu-heart .far.fa-heart {
    font-size: 30px;
  }
  .menu-heart .fas.fa-heart {
    font-size: 26px;
  }
}

@media screen and (min-width: 1000px) {
  /**************** image des menus : 1000px ********************/
  .img-resto-menu {
    width: 100%;
    max-height: 650px;
    min-height: 550px;
  }
  /********************** Le logo : 1000px *********************/
  .logo a .button .fa-arrow-left {
    font-size: 35px;
    left: 40px;
  }
  /********************* La carte : 1000px *********************/
  .resto {
    bottom: 90px;
    border-radius: 50px 50px 0 0;
  }
  .resto .menus h2 {
    font-size: 45px;
  }
  .resto h3 {
    font-size: 30px;
    margin: 40px 30px 20px 30px;
    width: 77px;
  }
  h4 {
    font-size: 30px;
    padding: 17px 20px 8px 20px;
  }
  .card .plate-entrees a,
  .card .plate-meals a,
  .card .plate-desserts a {
    margin: 0 25px 25px 25px;
    border-radius: 25px;
  }
  .card .plate-entrees a p,
  .card .plate-meals a p,
  .card .plate-desserts a p {
    font-size: 28px;
    padding: 0 20px 14px 20px;
  }
  /***************** Tarif : 1000px *****************/
  a:hover .second_price {
    -webkit-transform: translateX(-190px);
            transform: translateX(-190px);
  }
  a .second_price span {
    font-size: 28px;
  }
  a .right {
    right: -100px;
  }
  a .following {
    height: 110px;
  }
  /****************** coches : 1000px *********************/
  a .right div {
    width: 100px;
    border-radius: 0 25px 25px 0;
  }
  .fa-check-circle {
    font-size: 42px;
  }
  /**************** Le bouton commander : 1000px ******************/
  .order-fr button {
    padding: 22px 45px 22px 45px;
  }
  .order-fr button span {
    font-size: 33px;
  }
  /*************** icônes de coeur : 1000px ******************/
  .menu-heart {
    padding-right: 50px;
    padding-left: 50px;
  }
  .menu-heart .far.fa-heart {
    font-size: 41px;
  }
  .menu-heart .fas.fa-heart {
    font-size: 36px;
  }
  /***************** Le footer : 1000px ********************/
  footer {
    margin-top: 75px;
  }
  footer h1 {
    padding: 45px 45px 35px 45px;
    font-size: 35px;
  }
  footer .list-footer {
    padding: 0 45px 80px 45px;
    font-size: 28px;
    line-height: 45px;
  }
  footer .list-footer .list-bold .fa-utensils {
    padding-right: 20px;
    font-size: 25px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    padding-right: 20px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  /**************** image des menus : 1200px *******************/
  .img-resto-menu {
    width: 100%;
    max-height: 700px;
    min-height: 650px;
  }
  /********************* Le footer : 1200px ***********************/
  footer h1 {
    padding: 45px 50px 35px 50px;
    font-size: 38px;
  }
  footer .list-footer {
    padding: 0 50px 90px 50px;
    font-size: 31px;
    line-height: 50px;
  }
  footer .list-footer .list-bold .fa-utensils {
    font-size: 28px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    font-size: 27px;
  }
}

@media screen and (min-width: 1400px) {
  /********************* La carte : 1400px *********************/
  .resto {
    bottom: 150px;
    border-radius: 70px 70px 0 0;
    max-height: 880px;
  }
  h4 {
    width: 60%;
  }
  .card .plate-entrees,
  .card .plate-meals,
  .card .plate-desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 10px 0 10px;
  }
  .card .plate-entrees a,
  .card .plate-meals a,
  .card .plate-desserts a {
    width: 70%;
    margin: 15px;
  }
  .card .plate-entrees p,
  .card .plate-meals p,
  .card .plate-desserts p {
    width: 60%;
  }
  /****************** coches : 1400px *********************/
  .check {
    width: 90px;
  }
  .fa-check-circle {
    left: 23px;
  }
  /***************** Tarif : 1400px *****************/
  a:hover .second_price {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  a .right {
    right: -90px;
  }
  a .right div {
    width: 90px;
  }
}

@media screen and (min-width: 1600px) {
  /********************* La carte : 1600px *********************/
  .resto {
    bottom: 170px;
    border-radius: 80px 80px 0 0;
    max-height: 970px;
  }
  .resto .menus h2 {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .resto h3 {
    margin: 50px 50px 30px 50px;
    width: 90px;
  }
  h4 {
    padding: 20px 23px 10px 23px;
  }
  .card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card .plate-entrees a p,
  .card .plate-meals a p,
  .card .plate-desserts a p {
    padding: 0 23px 14px 23px;
  }
  /*************** icônes de coeur : 1600px ******************/
  .menu-heart {
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 40px;
  }
  /***************** Tarif : 1000px *****************/
  a .following {
    height: 130px;
  }
}

@media screen and (min-width: 1800px) {
  /********************* La carte : 1800px *********************/
  h4 {
    width: 70%;
  }
  .card .plate-entrees p,
  .card .plate-meals p,
  .card .plate-desserts p {
    width: 70%;
  }
}
/*# sourceMappingURL=responsive-menu.css.map */