@charset "UTF-8";
@media screen and (min-width: 400px) {
  /********************** Le logo : 400px *********************/
  .logo_ohm .image-ohm {
    padding: 8px 0 12px 0;
  }
  /******************** Localisation : 400px **********************/
  .form form {
    height: 45px;
  }
  .form form .country {
    font-size: 14px;
  }
  .form form .fa-map-marker-alt {
    font-size: 14px;
    top: 14px;
  }
  /********************** Le texte du header : 400px *********************/
  .presentation-txt h2 {
    font-size: 23px;
    padding-top: 35px;
    padding-bottom: 15px;
  }
  .presentation-txt p {
    font-size: 18px;
  }
  /******************** Le bouton du header : 400px **********************/
  .button-research {
    padding-bottom: 50px;
  }
  .button-research span {
    font-size: 15px;
  }
  .button-research button {
    padding: 15px 22px 15px 22px;
  }
  /********************* Fonctionnement : 400px ***********************/
  .appearance-color .intitulé-fonctionnement {
    padding-top: 45px;
    padding-bottom: 25px;
    font-size: 21px;
  }
  .fonctionnement {
    min-height: 310px;
  }
  .fonctionnement .bloc-fonctionnement {
    margin: 0 20px 22px 20px;
    padding: 25px 0 25px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .fonctionnement .bloc-fonctionnement span {
    font-size: 14px;
  }
  .fonctionnement .bloc-fonctionnement strong {
    padding: 3px;
    font-size: 13px;
    width: 16px;
    height: 16px;
  }
  .fonctionnement .bloc-fonctionnement .fa-mobile-alt {
    padding-left: 0;
    font-size: 17px;
  }
  .fonctionnement .bloc-fonctionnement .fa-list-ul {
    padding-left: 0;
    font-size: 16px;
  }
  .fonctionnement .bloc-fonctionnement .fa-store {
    padding-left: 0;
    font-size: 15px;
  }
  .align-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /***************** Restaurants : 400px *******************/
  .restaurant .restaurant-title {
    padding: 45px 20px 20px 20px;
    font-size: 21px;
  }
  .bloc-restaurant {
    margin: 0 0 16px 0;
    border-radius: 17px;
  }
  .bloc-restaurant .new {
    top: 12px;
    right: 12px;
    padding: 8px 13px 8px 13px;
    font-size: 12px;
  }
  .bloc-restaurant img {
    height: 180px;
    border-radius: 17px 17px 0 0;
  }
  .bloc-restaurant .restaurant-texte .text h3 {
    font-size: 17px;
    padding: 15px 12px 5px 12px;
  }
  .bloc-restaurant .restaurant-texte .text p {
    font-size: 16px;
    padding: 0 12px 15px 12px;
  }
  /***************** Les icônes coeur : 400px ******************/
  .coeur {
    padding-right: 25px;
    padding-left: 25px;
  }
  .coeur .fas.fa-heart {
    font-size: 18px;
  }
  /***************** Le footer : 400px ********************/
  footer h1 {
    padding: 20px 23px 15px 23px;
    font-size: 17px;
  }
  footer .list-footer {
    line-height: 25px;
    padding: 0 20px 30px 20px;
    font-size: 14px;
    letter-spacing: normal;
  }
  footer .list-footer .list-bold .fa-utensils {
    font-size: 10px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    font-size: 9px;
  }
}

@media screen and (min-width: 500px) {
  /******************** Localisation : 500px **********************/
  .form form .country {
    font-size: 15px;
  }
  .form form .fa-map-marker-alt {
    font-size: 15px;
  }
  /********************** Le texte du header : 500px *********************/
  .presentation-txt h2 {
    font-size: 24px;
  }
  .presentation-txt p {
    font-size: 19px;
  }
  /******************** Le bouton du header : 500px **********************/
  .button-research span {
    font-size: 17px;
  }
  .button-research button {
    padding: 17px 24px 17px 24px;
  }
  /********************* Fonctionnement : 500px ***********************/
  .appearance-color .intitulé-fonctionnement {
    font-size: 23px;
  }
  .fonctionnement {
    min-height: 350px;
  }
  .fonctionnement .bloc-fonctionnement {
    margin: 0 20px 25px 20px;
    padding: 28px 0 28px 0;
  }
  .fonctionnement .bloc-fonctionnement span {
    font-size: 17px;
  }
  .fonctionnement .bloc-fonctionnement strong {
    padding: 5px;
    font-size: 15px;
  }
  .fonctionnement .bloc-fonctionnement .fa-mobile-alt {
    font-size: 19px;
  }
  .fonctionnement .bloc-fonctionnement .fa-list-ul {
    font-size: 18px;
  }
  .fonctionnement .bloc-fonctionnement .fa-store {
    font-size: 17px;
  }
  /***************** Restaurants : 500px *******************/
  .restaurant .restaurant-title {
    padding: 50px 20px 20px 25px;
    font-size: 23px;
  }
  .bloc-restaurant {
    margin: 0 0 20px 0;
  }
  .bloc-restaurant .new {
    top: 14px;
    right: 14px;
    padding: 9px 14px 9px 14px;
    font-size: 14px;
  }
  .bloc-restaurant img {
    height: 230px;
  }
  .bloc-restaurant .restaurant-texte .text h3 {
    font-size: 19px;
    padding: 17px 15px 5px 15px;
  }
  .bloc-restaurant .restaurant-texte .text p {
    font-size: 18px;
    padding: 0 15px 17px 15px;
  }
  /*************** Les icônes coeur : 500px *****************/
  .coeur {
    padding-right: 30px;
    padding-left: 30px;
  }
  /***************** Le footer : 500px ********************/
  footer h1 {
    font-size: 19px;
  }
  footer .list-footer {
    padding: 0 25px 35px 25px;
    font-size: 16px;
  }
  footer .list-footer .list-bold .fa-utensils {
    font-size: 12px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    font-size: 11px;
  }
}

@media screen and (min-width: 650px) {
  /********************** Le logo : 650px *********************/
  .logo_ohm .image-ohm {
    padding: 13px 0 18px 0;
  }
  /******************** Localisation : 650px **********************/
  .form form .fa-map-marker-alt {
    left: 38%;
  }
  /********************** Le texte du header : 650px *********************/
  .presentation-txt h2 {
    font-size: 26px;
    padding-top: 35px;
    padding-bottom: 15px;
  }
  .presentation-txt p {
    font-size: 21px;
    padding-bottom: 30px;
  }
  /******************** Le bouton du header : 650px **********************/
  .button-research {
    padding-bottom: 55px;
  }
  .button-research span {
    font-size: 20px;
  }
  .button-research button {
    padding: 19px 25px 19px 25px;
  }
  /********************* Fonctionnement : 650px ***********************/
  .appearance-color .intitulé-fonctionnement {
    font-size: 26px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .fonctionnement {
    min-height: 410px;
  }
  .fonctionnement .bloc-fonctionnement {
    margin: 0 20px 30px 20px;
    padding: 33px 0 33px 0;
    border-radius: 30px;
  }
  .fonctionnement .bloc-fonctionnement span {
    font-size: 20px;
  }
  .fonctionnement .bloc-fonctionnement strong {
    padding: 7px;
    font-size: 18px;
  }
  .fonctionnement .bloc-fonctionnement .fa-mobile-alt {
    font-size: 23px;
    padding-right: 40px;
  }
  .fonctionnement .bloc-fonctionnement .fa-list-ul {
    font-size: 22px;
    padding-right: 40px;
  }
  .fonctionnement .bloc-fonctionnement .fa-store {
    font-size: 21px;
    padding-right: 40px;
  }
  /***************** Restaurants : 650px *******************/
  .restaurant .restaurant-title {
    padding: 50px 20px 25px 20px;
    font-size: 26px;
  }
  .restaurant .links-restaurant {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bloc-restaurant {
    margin: 0 0 25px 0;
    border-radius: 20px;
  }
  .bloc-restaurant .new {
    top: 17px;
    right: 17px;
    padding: 9px 17px 9px 17px;
    font-size: 18px;
  }
  .bloc-restaurant img {
    height: 270px;
    border-radius: 20px 20px 0 0;
  }
  .bloc-restaurant .restaurant-texte .text h3 {
    font-size: 23px;
    padding: 20px 18px 5px 18px;
  }
  .bloc-restaurant .restaurant-texte .text p {
    font-size: 22px;
    padding: 0 18px 20px 18px;
  }
  /***************** Les icônes coeur : 650px *******************/
  .coeur .fas.fa-heart {
    font-size: 22px;
    top: 2px;
  }
  .coeur .far.fa-heart {
    font-size: 26px;
  }
  /***************** Le footer : 650px ********************/
  footer {
    margin-top: 60px;
  }
  footer h1 {
    padding: 30px 30px 20px 30px;
    font-size: 24px;
  }
  footer .list-footer {
    padding: 0 30px 50px 30px;
    font-size: 20px;
    line-height: 35px;
  }
  footer .list-footer .list-bold .fa-utensils {
    padding-right: 15px;
    font-size: 16px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    padding-right: 15px;
    font-size: 15px;
  }
}

@media screen and (min-width: 750px) {
  /********************** Le logo : 750px *********************/
  .logo_ohm .image-ohm {
    max-width: 270px;
  }
  /******************** Localisation : 750px **********************/
  .form .bar-grey {
    height: 5px;
  }
  .form form {
    height: 55px;
  }
  .form form .country {
    font-size: 19px;
  }
  .form form .fa-map-marker-alt {
    font-size: 19px;
    top: 16px;
  }
  /********************** Le texte du header : 750px *********************/
  .presentation-txt h2 {
    font-size: 31px;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .presentation-txt p {
    font-size: 24px;
    padding-bottom: 40px;
  }
  /******************** Le bouton du header : 750px **********************/
  .button-research {
    padding-bottom: 55px;
  }
  .button-research span {
    font-size: 21px;
  }
  .button-research button {
    padding: 23px 30px 23px 30px;
  }
  /********************* Fonctionnement : 750px ***********************/
  .appearance-color .intitulé-fonctionnement {
    font-size: 31px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .fonctionnement {
    min-height: 490px;
  }
  .fonctionnement .bloc-fonctionnement {
    margin: 0 25px 35px 25px;
    padding: 38px 0 38px 0;
    border-radius: 35px;
  }
  .fonctionnement .bloc-fonctionnement span {
    font-size: 25px;
  }
  .fonctionnement .bloc-fonctionnement strong {
    padding: 10px;
    font-size: 23px;
  }
  .fonctionnement .bloc-fonctionnement .fa-mobile-alt {
    font-size: 25px;
    padding-right: 40px;
  }
  .fonctionnement .bloc-fonctionnement .fa-list-ul {
    font-size: 24px;
    padding-right: 40px;
  }
  .fonctionnement .bloc-fonctionnement .fa-store {
    font-size: 23px;
    padding-right: 40px;
  }
  /***************** Restaurants : 750px *******************/
  .restaurant .restaurant-title {
    padding: 60px 25px 30px 25px;
    font-size: 31px;
  }
  .restaurant .links-restaurant {
    padding-left: 25px;
    padding-right: 25px;
  }
  .bloc-restaurant {
    margin: 0 0 30px 0;
    border-radius: 25px;
  }
  .bloc-restaurant .new {
    top: 20px;
    right: 20px;
    padding: 9px 17px 9px 17px;
    font-size: 23px;
  }
  .bloc-restaurant img {
    height: 340px;
    border-radius: 25px 25px 0 0;
  }
  .bloc-restaurant .restaurant-texte .text h3 {
    font-size: 28px;
    padding: 30px 25px 10px 25px;
  }
  .bloc-restaurant .restaurant-texte .text p {
    font-size: 27px;
    padding: 0 25px 30px 25px;
  }
  /***************** Les icônes coeur : 750px *******************/
  .coeur {
    padding-right: 40px;
    padding-left: 40px;
  }
  .coeur .fas.fa-heart {
    font-size: 27px;
    top: 1px;
  }
  .coeur .far.fa-heart {
    font-size: 31px;
  }
  /***************** Le footer : 750px ********************/
  footer {
    margin-top: 70px;
  }
  footer h1 {
    padding: 40px 40px 30px 40px;
    font-size: 29px;
  }
  footer .list-footer {
    padding: 0 40px 70px 40px;
    font-size: 25px;
    line-height: 40px;
  }
  footer .list-footer .list-bold .fa-utensils {
    padding-right: 20px;
    font-size: 21px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    padding-right: 20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  /******************** Localisation : 1000px **********************/
  .form .bar-grey {
    height: 7px;
  }
  .form form {
    height: 65px;
  }
  .form form .country {
    font-size: 23px;
  }
  .form form .fa-map-marker-alt {
    font-size: 23px;
    top: 18px;
  }
  /********************** Le texte du header : 1000px *********************/
  .presentation-txt h2 {
    font-size: 38px;
    padding-top: 55px;
    padding-bottom: 30px;
  }
  .presentation-txt p {
    font-size: 32px;
    padding-bottom: 45px;
  }
  /******************** Le bouton du header : 1000px **********************/
  .button-research {
    padding-bottom: 70px;
  }
  .button-research span {
    font-size: 28px;
  }
  .button-research button {
    padding: 27px 38px 27px 38px;
  }
  /********************* Fonctionnement : 1000px ***********************/
  .appearance-color .intitulé-fonctionnement {
    font-size: 36px;
    padding-top: 70px;
    padding-bottom: 45px;
  }
  .fonctionnement {
    min-height: 550px;
  }
  .fonctionnement .bloc-fonctionnement {
    margin: 0 30px 40px 30px;
    padding: 42px 0 42px 0;
    border-radius: 38px;
  }
  .fonctionnement .bloc-fonctionnement span {
    font-size: 28px;
  }
  .fonctionnement .bloc-fonctionnement strong {
    padding: 12px;
    font-size: 26px;
  }
  .fonctionnement .bloc-fonctionnement .fa-mobile-alt {
    font-size: 28px;
  }
  .fonctionnement .bloc-fonctionnement .fa-list-ul {
    font-size: 27px;
  }
  .fonctionnement .bloc-fonctionnement .fa-store {
    font-size: 26px;
  }
  /***************** Restaurants : 1000px *******************/
  .restaurant .restaurant-title {
    padding: 70px 30px 35px 30px;
    font-size: 36px;
  }
  .restaurant .links-restaurant {
    padding-left: 30px;
    padding-right: 30px;
  }
  .bloc-restaurant {
    margin: 0 0 35px 0;
  }
  .bloc-restaurant .new {
    padding: 10px 18px 10px 18px;
    font-size: 28px;
  }
  .bloc-restaurant img {
    height: 370px;
  }
  .bloc-restaurant .restaurant-texte .text h3 {
    font-size: 33px;
  }
  .bloc-restaurant .restaurant-texte .text p {
    font-size: 32px;
  }
  /************** Les icônes coeur : 1000px ******************/
  .coeur .fas.fa-heart {
    font-size: 32px;
  }
  .coeur .far.fa-heart {
    font-size: 37px;
  }
  /***************** Le footer : 1000px ********************/
  footer {
    margin-top: 75px;
  }
  footer h1 {
    padding: 45px 45px 35px 45px;
    font-size: 35px;
  }
  footer .list-footer {
    padding: 0 45px 80px 45px;
    font-size: 28px;
    line-height: 45px;
  }
  footer .list-footer .list-bold .fa-utensils {
    padding-right: 20px;
    font-size: 25px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    padding-right: 20px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1171px) {
  /****************** Les icônes coeur : 1171px ********************/
  .coeur .fas.fa-heart {
    font-size: 32px;
    top: 2px;
  }
  .coeur .far.fa-heart {
    font-size: 37px;
  }
}

@media screen and (min-width: 1200px) {
  /******************** Localisation : 1200px **********************/
  .form form .country {
    font-size: 25px;
  }
  .form form .fa-map-marker-alt {
    font-size: 25px;
  }
  /********************** Le texte du header : 1200px *********************/
  .presentation-txt h2 {
    font-size: 40px;
  }
  .presentation-txt p {
    font-size: 34px;
  }
  /******************** Le bouton du header : 1200px **********************/
  .button-research span {
    font-size: 30px;
  }
  .button-research button {
    padding: 28px 40px 28px 40px;
  }
  /********************* Fonctionnement : 1200px ***********************/
  .appearance-color .intitulé-fonctionnement {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .fonctionnement {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fonctionnement .bloc-fonctionnement {
    margin: 0 20px 130px 20px;
    padding: 40px 60px 40px 60px;
  }
  .fonctionnement .bloc-fonctionnement strong {
    font-size: 26px;
    -webkit-transform: translate(-190%, 80%);
            transform: translate(-190%, 80%);
  }
  .fonctionnement .bloc-fonctionnement .fa-mobile-alt {
    font-size: 35px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .fonctionnement .bloc-fonctionnement .fa-list-ul {
    font-size: 35px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .fonctionnement .bloc-fonctionnement .fa-store {
    font-size: 35px;
    padding-bottom: 30px;
    padding-right: 0;
  }
  .align-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /***************** Restaurants : 1200px *******************/
  .restaurant .restaurant-title {
    padding: 80px 30px 50px 30px;
  }
  .restaurant .links-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .bloc-restaurant {
    margin: 0 30px 35px 30px;
    width: 44%;
  }
  /***************** Le footer : 1200px ********************/
  footer h1 {
    padding: 45px 50px 35px 50px;
    font-size: 38px;
  }
  footer .list-footer {
    padding: 0 50px 90px 50px;
    font-size: 31px;
    line-height: 50px;
  }
  footer .list-footer .list-bold .fa-utensils {
    font-size: 28px;
  }
  footer .list-footer .list-bold .fa-hands-helping {
    font-size: 27px;
  }
}

@media screen and (min-width: 1500px) {
  /******************** Localisation : 1500px **********************/
  .form form .fa-map-marker-alt {
    left: 39%;
  }
  /******************** Le bouton du header : 1500px **********************/
  .button-research span {
    font-size: 35px;
  }
  .button-research button {
    padding: 30px 40px 30px 40px;
  }
  /********************* Fonctionnement : 1500px ***********************/
  .fonctionnement {
    min-height: 100px;
  }
  .fonctionnement .bloc-fonctionnement {
    margin: 0 20px 130px 20px;
    padding: 50px 65px 50px 65px;
  }
  /***************** Restaurants : 1500px *******************/
  .bloc-restaurant {
    margin: 0 25px 35px 25px;
    width: 46%;
  }
}

@media screen and (min-width: 1600px) {
  /********************* Fonctionnement : 1600px ***********************/
  .fonctionnement .bloc-fonctionnement {
    padding: 60px 80px 60px 80px;
  }
  .fonctionnement .bloc-fonctionnement strong {
    -webkit-transform: translate(-240%, 80%);
            transform: translate(-240%, 80%);
  }
}

@media screen and (min-width: 1800px) {
  /******************** Localisation : 1800px **********************/
  .form form .fa-map-marker-alt {
    left: 40%;
  }
}
/*# sourceMappingURL=responsive-index.css.map */